.row {
  margin-left: 20px;
  color: white;
}

.posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 30px;
}
.posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  max-height: 120px;
  margin-right: 20px;
}
.row_large {
  max-height: 320px;
}

.row_large:hover {
  transform: scale(1.09);
}

.row_poster:hover {
  transform: scale(1.08);
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  transition: transform 450ms;
}
