.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  z-index: 1;
  height: 30px;
  /*Animations*/
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_logo {
  width: 130px;
  object-fit: contain;
  position: fixed;
  left: 20px;
}
.nav_black {
  background-color: #111;
}

.nav_avatar {
  width: 35px;
  object-fit: contain;
  position: fixed;
  right: 20px;
}
